*{
    font-family: "Poppins";
}
h3{
    color: white;
}
.popular,.horror,.action,.comedy {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    padding-left: 20px; 
    margin-top: 20px;
    height: 300px;
    position: relative;
}

.popularmov ,.horrormov,.actionmov,.commov{
    position: absolute;
    width: 98.5%;
    height: 250px;
    top: 30px;
    left: 0px;
    margin: 10px;
    display: flex;
    gap: 5px;
    white-space: nowrap; 
    scrollbar-width: none;
    overflow: visible;
    transition: left 0.2s ease-in-out;
}


.movie, .hr, .ac, .cmd {
    
    position: relative;
    height: 100%;
    width: 200px; 
    flex: 0 0 auto;
    border-radius: 10px;
    overflow: hidden; /* Prevents content from overflowing */
    background-color: black;
    transition:  width 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}
.boxadd{
    position: absolute;
    width: 150px;
    height: 100%;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    font-weight: 400;
    top: 0;
    right: 0;
    opacity: 0;
    animation: visible 0.4s;
    white-space: pre-line;
}
@keyframes visible {
   from{
    opacity: 0;
   } 
   to{
    opacity: 1;
   }
}
.movie:hover .boxadd,.hr:hover .boxadd,.ac:hover .boxadd,.cmd:hover .boxadd{
    opacity: 1;
}

.movie img, .hr img, .ac img, .cmd img {
    width: 200px;
    height: 100%;
    border-radius: 10px;
    transition: width 0.4s ease-in-out;
}

.movie:hover, .hr:hover, .ac:hover, .cmd:hover {
    transform: scale(1.02); 
    width: 350px;
    transform-origin: left;
    z-index: 3;
    box-shadow: 0px 10px 30px rgba(255, 165, 0, 0.6);
}

.movie:hover img, .hr:hover img, .ac:hover img, .cmd:hover img {
    width: 200px;
    border-radius: 0 10px 10px 0;
}

.movie::after, .hr::after, .ac::after, .cmd::after {
    content: "";
    position: absolute;
    inset: 0;
    background:rgba(0, 0, 0, 0.4);  ;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.movie:hover::after, .hr:hover::after, .ac:hover::after, .cmd:hover::after {
    opacity: 1;
}

body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
    background: black;
}
[data-dir="left"], [data-dir="right"]
{
    font-size: x-large;
    height: 40px;
    width: 40px;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
[data-dir="left"]
{
    position: absolute;
    top: 140px;
    left: 20px;
    z-index: 5;
    
}
[data-dir="right"]
{
    position: absolute;
    z-index: 5;
    top: 140px;
    right: 15px;
}